# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.env
.venv
venv/
env/
tmp
imgs/
# IDE
.vscode/
.idea/
img_path_test.py
# OS
.DS_Store
Thumbs.db

# Package files
*.egg-info/
dist/
build/
agent-ui
# Logs
*.log
agent_team_groq.py
hello.py