agno==2.0.11
beautifulsoup4==4.13.4
google-genai==1.26.0
pydantic==2.11.7
pydantic-core==2.33.2
pydantic-settings==2.10.1
sqlalchemy==2.0.41
httpx==0.28.1
jira>=3.10.5
fastapi>=0.116.1
uvicorn>=0.35.0
git+https://github.com/omarnahdi/brave-api-fix.git